$size-height: 0.3571rem;
$size-top: 1.8571rem;
$size-bottom: 2.4286rem;
$size-border: 2px;

.faq {
	position: relative;
	display: block;
	height: 777px;
	width: 1222px;
	left: 50%;
	transform: translateX(-50%);
	&_button {

		position: relative;
		height: 95%;
		width: 95.5%;

		color: white;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 140%;

		border: none;
		box-shadow: none;
		background: linear-gradient(218deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.15) 100%);
		padding: 1.4286rem 1.7857rem 1.1429rem;
		transition: all 0.3s;
		backdrop-filter: blur(16.924753189086914px);
		
		&_body {
			position: relative;
			display: flex;
			width: 100%;
			height: 100%;
			z-index: 2;
			&_lineOne, &_lineTwo, &_lineThree {
				width: 33.33%;
			}
			&_lineOne {
				margin-top: -12px;
				margin-left: -25px;
				width: 35%;
				&_first {
					display: block;
					width: 100%;
					height: 220px;
					text-align: left;
					border-bottom: #FFF 3px solid;
					&_header {
						color: #FFF;
						font-family: 'TTOctosquares';
						font-size: 31px;
						font-style: normal;
						font-weight: 400;
						line-height: 117.8%;
						letter-spacing: 2.79px;
						text-transform: uppercase;
						padding-top: 59px;
						padding-left: 20px;
					}
					&_text {
						color: #FFF;
						font-family: 'Mazzard';
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 140%;
						padding-top: 15px;
						padding-left: 20px;
					}
					&_text2 {
						color: #FFF;
						font-family: 'Mazzard';
						font-size: 24px;
						font-style: normal;
						font-weight: 700;
						line-height: 140%;
						padding-top: 6px;
						padding-left: 20px;
					}
				}
				&_second {
					display: flex;
					width: 100%;
					height: 55px;
					border-bottom: #FFF 3px solid;
					&_left {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 109px;
						border-right: #FFF 3px solid;
					}
					&_center {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 160px;
						border-right: #FFF 3px solid;
						img {
							margin-right: 6px;
						}
					}
					&_right {
						width: 136px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
				&_third {
					display: block;
					width: 100%;
					height: 290px;
					text-align: left;
					border-bottom: #FFF 3px solid;
					&_header {
						color: #FFF;
						font-family: 'TTOctosquares';
						font-size: 31px;
						font-style: normal;
						font-weight: 400;
						line-height: 117.8%;
						letter-spacing: 2.79px;
						text-transform: uppercase;
						padding-top: 50px;
						padding-left: 20px;
					}
					&_text {
						width: 361px;
						text-align: justify;
						color: #FFF;
						font-family: 'Mazzard';
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 140%;
						padding-top: 16px;
						padding-left: 20px;
					}
				}
				&_fourth {
					display: block;
					width: 100%;
					height: 193px;
					text-align: left;
					&_header {
						color: #FFF;
						font-family: 'TTOctosquares';
						font-size: 31px;
						font-style: normal;
						font-weight: 400;
						line-height: 117.8%;
						letter-spacing: 2.79px;
						text-transform: uppercase;
						padding-top: 50px;
						padding-left: 20px;
					}
					&_text, &_text2 {
						color: #FFF;
						font-family: 'Mazzard';
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 140%;
						padding-top: 15px;
						padding-left: 20px;
					}
					&_text2 {
						font-weight: 700;
						padding-top: 5px;
					}
				}
			}
			&_lineTwo {
				margin-top: -12px;
				text-align: left;
				&_first {
					display: block;
					width: 100%;
					height: 182px;
					border-bottom: #FFF 3px solid;
					border-left: #FFF 3px solid;
					&_header {
						color: #FFF;
						font-family: 'TTOctosquares';
						font-size: 31px;
						font-style: normal;
						font-weight: 400;
						line-height: 117.8%;
						letter-spacing: 2.79px;
						text-transform: uppercase;
						padding-top: 55px;
						padding-left: 27px;
					}
					&_text {
						color: #FFF;
						font-family: 'Mazzard';
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 140%;
						padding-top: 10px;
						padding-left: 27px;
						span {
							font-weight: 700;
						}
					}
				}
				&_second {
					display: block;
					width: 100%;
					height: 227px;
					border-bottom: #FFF 3px solid;
					border-left: #FFF 3px solid;
					&_header {
						color: #FFF;
						font-family: 'TTOctosquares';
						font-size: 31px;
						font-style: normal;
						font-weight: 400;
						line-height: 117.8%;
						letter-spacing: 2.79px;
						text-transform: uppercase;
						padding-top: 50px;
						padding-left: 27px;
					}
					&_text1, &_text2 {
						color: #FFF;
						font-family: 'Mazzard';
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 140%;
						padding-top: 10px;
						padding-left: 27px;
						span {
							font-weight: 700;
						}
					}
					&_text2 {
						padding-top: 3px;
					}
				}
				&_third {
					display: block;
					width: 100%;
					height: 227px;
					border-bottom: #FFF 3px solid;
					border-left: #FFF 3px solid;
					&_header {
						color: #FFF;
						font-family: 'TTOctosquares';
						font-size: 31px;
						font-style: normal;
						font-weight: 400;
						line-height: 117.8%;
						letter-spacing: 2.79px;
						text-transform: uppercase;
						padding-top: 50px;
						padding-left: 27px;
					}
					&_text {
						color: #FFF;
						font-family: 'Mazzard';
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 140%;
						padding-top: 10px;
						padding-left: 27px;
					}
				}
				&_fourth {
					display: flex;
					width: 100%;
					height: 120px;
					&_left {
						width: 133px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-left: #FFF 3px solid;
						border-right: #FFF 3px solid;
					}
					&_right {
						width: 268px;
						display: flex;
						justify-content: center;
						align-items: center;
						&_one {
							transform: rotate(270deg);
						}
						&_two {
							transform: rotate(180deg);
						}
						img {
							margin-right: 12px;
						}
					}
				}
			}
			&_lineThree {
				margin-top: -12px;
				margin-right: -25px;
				width: 36%;
				text-align: left;
				&_first {
					display: block;
					width: 100%;
					height: 217px;
					border-left: #FFF 3px solid;
					border-bottom: #FFF 3px solid;
					&_header {
						color: #FFF;
						font-family: 'TTOctosquares';
						font-size: 31px;
						font-style: normal;
						font-weight: 400;
						line-height: 117.8%;
						letter-spacing: 2.79px;
						text-transform: uppercase;
						padding-top: 50px;
						padding-left: 27px;
					}
					&_text {
						color: #FFF;
						font-family: 'Mazzard';
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 140%;
						padding-top: 10px;
						padding-left: 27px;
						span {
							font-weight: 700;
						}
					}
				}
				&_second {
					display: block;
					width: 100%;
					height: 319px;
					border-left: #FFF 3px solid;
					border-bottom: #FFF 3px solid;
					&_header {
						color: #FFF;
						font-family: 'TTOctosquares';
						font-size: 31px;
						font-style: normal;
						font-weight: 400;
						line-height: 117.8%;
						letter-spacing: 2.79px;
						text-transform: uppercase;
						padding-top: 50px;
						padding-left: 27px;
					}
					&_text {
						width: 341px;
						color: #FFF;
						font-family: 'Mazzard';
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 140%;
						padding-top: 10px;
						padding-left: 27px;
						text-align: justify;
					}
				}
				&_third {
					display: block;
					width: 100%;
					height: 222px;
					border-left: #FFF 3px solid;
					&_header {
						color: #FFF;
						font-family: 'TTOctosquares';
						font-size: 31px;
						font-style: normal;
						font-weight: 400;
						line-height: 117.8%;
						letter-spacing: 2.79px;
						text-transform: uppercase;
						padding-top: 50px;
						padding-left: 27px;
					}
					&_text {
						width: 341px;
						color: #FFF;
						font-family: 'Mazzard';
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 140%;
						padding-top: 10px;
						padding-left: 27px;
						text-align: justify;
					}
				}
			}
		}
		&_tr1,
		&_tr2 {
			display: block;
			position: absolute;
			z-index: 1;
			border-top: 17px solid white;
			border-right: 17px solid transparent;
			transition: all 0.3s;
			
		}

		&_tr1 {
			margin-top: -10px;
			margin-left: -17px;
			transform: rotate(270deg);
		}

		&_tr2 {
			margin-top: -744px;
			margin-left: 1167px;
			transform: rotate(90deg);
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			z-index: 1;
			transition: all 0.3s;
			transform: scaleX(-1);
			clip-path: polygon(0 $size-height,
					calc(100% - $size-bottom) $size-height,
					calc(100% - $size-top) 0,
					100% 0,
					100% 100%,
					$size-bottom 100%,
					$size-top calc(100% - $size-height),
					0 calc(100% - $size-height),

					0 calc(100% - $size-border - $size-height),
					calc($size-top + 1px) calc(100% - $size-border - $size-height),
					calc($size-bottom + 1px) calc(100% - $size-border),
					calc(100% - $size-border) calc(100% - $size-border),
					calc(100% - $size-border) $size-border,
					calc(100% - $size-top + $size-border - 1px) calc($size-border),
					calc(100% - $size-bottom + $size-border - 1px) calc($size-height + $size-border),
					$size-border calc($size-height + $size-border),
					$size-border calc(100% - $size-border - $size-height),
					0 calc(100% - $size-border - $size-height));
			background: white;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			z-index: 0;
			transition: all 0.3s;
			transform: scaleX(-1);
			clip-path: polygon(0 $size-height,
					calc(100% - $size-bottom) $size-height,
					calc(100% - $size-top) 0,
					100% 0,
					100% 100%,
					$size-bottom 100%,
					$size-top calc(100% - $size-height),
					0 calc(100% - $size-height),
				);
		}
	}
}

@media (max-width: 1600px) {
	.faq {
		transform: scale(0.9);
		margin: 0 auto;
		left: 0;
		margin-left: 150px;
	}
}

@media (max-width: 1400px) {
	.faq {
		transform: scale(0.8);
		margin: 0 auto;
		left: 0;
		margin-left: 100px;
		/* margin-top: -100px; */
	}
}

@media (max-width: 1250px) {
	.faq {
		transform: scale(0.7);
		margin-left: 0px;
		margin-top: -100px;
	}
}

@media (max-width: 1080px) {
	.faq {
		transform: scale(0.65);
		margin-left: -100px;
		margin-top: -100px;
	}
}

@media (max-width: 991px) {
	.faq {
		transform: scale(1.3);
		&_button {
			height: auto;
			width: 370px;
	
			&_body {
				display: block;
	
				&_lineOne,
				&_lineTwo,
				&_lineThree {
					width: 112%;
				}
	
				&_lineOne {
					margin-top: -12px;
					margin-left: -25px;
	
					&_second {
						display: flex;
						width: 100%;
						height: 55px;
						border-bottom: #FFF 3px solid;
						&_left {
							width: 25%;
						}
						&_center {
							width: 40%;
						}
						&_right {
							width: 35%;
						}
					}
					&_third {
						height: 290px;
					}
				}
	
				&_lineTwo {
					margin-left: -25px;
					&_first {
						border-bottom: #FFF 3px solid;
						border-top: #FFF 3px solid;
						border-left: #FFF 0px solid;
					}
	
					&_second {
						border-bottom: #FFF 3px solid;
						border-left: #FFF 0px solid;
					}
	
					&_third {
						border-bottom: #FFF 3px solid;
						border-left: #FFF 0px solid;
					}
	
					&_fourth {
						&_left {
							width: 40%;
							border-left: #FFF 0px solid;
							border-right: #FFF 3px solid;
							border-bottom: #FFF 3px solid;
						}
						&_right {
							width: 60%;
							border-bottom: #FFF 3px solid;
						}
					}
				}
				&_lineThree {
					margin-top: 0px;
					margin-right: 0px;
					margin-left: -30px;
					&_first {
						border-left: #FFF 0px solid;
						border-bottom: #FFF 3px solid;
					}
					&_second {
						border-left: #FFF 0px solid;
						border-bottom: #FFF 3px solid;
					}
					&_third {
						border-left: #FFF 0px solid;
					}
				}
			}
	
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				z-index: 1;
				transition: all 0.3s;
				transform: scaleX(-1);
				clip-path: polygon(0 $size-height,
						calc(100% - $size-bottom) $size-height,
						calc(100% - $size-top) 0,
						100% 0,
						100% 100%,
						$size-bottom 100%,
						$size-top calc(100% - $size-height),
						0 calc(100% - $size-height),
	
						0 calc(100% - $size-border - $size-height),
						calc($size-top + 1px) calc(100% - $size-border - $size-height),
						calc($size-bottom + 1px) calc(100% - $size-border),
						calc(100% - $size-border) calc(100% - $size-border),
						calc(100% - $size-border) $size-border,
						calc(100% - $size-top + $size-border - 1px) calc($size-border),
						calc(100% - $size-bottom + $size-border - 1px) calc($size-height + $size-border),
						$size-border calc($size-height + $size-border),
						$size-border calc(100% - $size-border - $size-height),
						0 calc(100% - $size-border - $size-height));
				background: rgb(124, 124, 124);
			}
	
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: block;
				z-index: 0;
				transition: all 0.3s;
				transform: scaleX(-1);
				clip-path: polygon(0 $size-height,
						calc(100% - $size-bottom) $size-height,
						calc(100% - $size-top) 0,
						100% 0,
						100% 100%,
						$size-bottom 100%,
						$size-top calc(100% - $size-height),
						0 calc(100% - $size-height),
					);
			}
		}
		margin-left: 350px;
		margin-top: 200px;
	}
}

@media (max-width: 767px) {
	.faq {
		transform: scale(1);
		&_button {
			margin-left: -250px;
			
		}
	}
}

@media (max-width: 575px) {
	.faq {
		margin-top: -100px;
		transform: scale(0.68);

		&_button {
			margin-left: -64%;
			margin-top: 0px;
		}
	}
}