.sidepanel {
	position: absolute;
	display: block;
	width: 200px;
	height: auto;
	left: -100px;
	top: 410px;
	a {
		text-decoration: none;
		color: inherit;
	}
	&_menu {
		transform: rotate(90deg);

		font-family: 'Neue Machina';
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 140%;
		color: rgba(255, 255, 255, 0.70);
		width: 391px;

		ul {
			display: flex;
			list-style-type: none;
			padding: 0;
			li {
				margin-right: 39px;
				cursor: pointer;
				img {
					margin-top: 5px;
					cursor: auto;
				}
			}
		}
		&_active {
			color: #fff;
		}
	}
}

@media (max-width: 1200px) {
	.sidepanel {
		left: -130px;
	}
}

@media (max-width: 767px) {
	.sidepanel {
		left: -150px;
		&_menu {
			font-size: 13px;
		}
	}
}

@media (max-width: 575px) {
	.sidepanel {
		display: none;
	}
}