.startPage {
	display: block;
	background: url('../../../resources//startPage/bg.png') center center/cover no-repeat;
	height: 100vh;

	&_content {
		margin-top: 290px;
		
	}
}

@media (max-width: 767px) {
	.startPage {
		&_content {
			margin-top: 250px;
		}
	}
}

@media (max-width: 575px) {
	.startPage {
		&_content {
			margin-top: 130px;
		}
	}
}