.faqPage {
	display: block;
	background: url('../../../resources/faqPage/bg.png') center center/cover no-repeat;
	height: 1300px;
	&_logobox {
		padding-top: 100px;
		&_text {
			display: flex;
			justify-content: center;
			font-family: 'Mazzard';
			font-size: 15px;
			font-style: normal;
			font-weight: 700;
			line-height: 140%;
			background: var(--gradient, linear-gradient(90deg, #FFB800 0%, #FFBAC3 70.62%));
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		&_img {
			display: flex;
			justify-content: center;
		}
	}
	&_title {
		margin-top: 34px;
		&_lineOne {
			display: flex;
			justify-content: center;
			&_text1, &_text2 {
				color: #FFF;
				text-align: center;
				font-family: 'TTOctosquares';
				font-size: 64px;
				font-style: normal;
				font-weight: 400;
				line-height: 100%;
				letter-spacing: 13.44px;
			}
			img {
				width: 58px;
				height: 58px;
				margin-left: 15px;
				margin-right: 25px;
			}
		}
		&_lineTwo {
			display: flex;
			justify-content: center;
		}
		&_lineTwo {
			color: #FFF;
			text-align: center;
			font-family: 'TTOctosquares';
			font-size: 64px;
			font-style: normal;
			font-weight: 400;
			line-height: 100%;
			letter-spacing: 13.44px;
		}
	}
/* 	&_sidePanel {
		position: absolute;
		top: 300px;
	} */
	&_faq {
		margin-top: 92px;
	}
}

@media (max-width: 1400px) {
	.faqPage {
		&_faq {
			margin-top: 30px;
		}
	}
}

@media (max-width: 1250px) {
	.faqPage {
		&_faq {
			margin-top: 30px;
		}
		&_title {
			transform: scale(0.9);
		}
	}
}

@media (max-width: 1250px) {
	.faqPage {
		background-size: cover;
		height: auto;
	}
}

@media (max-width: 991px) {
	.faqPage {
		&_logobox {
			padding-top: 80px;
		}
		background-size: cover;
		min-height: 3500px;
	}
}

@media (max-width: 767px) {
	.faqPage {
		min-height: 2700px;
		&_faq {
			margin-top: -150px;
		}
		&_logobox {
			padding-top: 50px;
		}
		&_title {
			transform: scale(0.7);
		}
	}
}

@media (max-width: 575px) {
	.faqPage {
		min-height: 1750px;
		overflow: hidden;
		padding-top: 80px;
		&_faq {
			margin-top: -150px;
		}

		&_logobox {
			padding-top: 0px;
			transform: scale(0.8);
		}

		&_title {
			margin-top: -30px;
			transform: scale(0.4);
		}
	}
}
