.faqPage {
	display: block;
	background: url('../../../resources/faqPage/bg.png') center center/cover no-repeat;
	height: 1300px;
	&_logobox {
		padding-top: 100px;
		&_text {
			display: flex;
			justify-content: center;
			font-family: 'Mazzard';
			font-size: 15px;
			font-style: normal;
			font-weight: 700;
			line-height: 140%;
			background: var(--gradient, linear-gradient(90deg, #FFB800 0%, #FFBAC3 70.62%));
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		&_img {
			display: flex;
			justify-content: center;
		}
	}
	&_title {
		margin-top: 34px;
		&_lineOne {
			display: flex;
			justify-content: center;
			&_text1, &_text2 {
				color: #FFF;
				text-align: center;
				font-family: 'TTOctosquares';
				font-size: 64px;
				font-style: normal;
				font-weight: 400;
				line-height: 100%;
				letter-spacing: 13.44px;
			}
			img {
				width: 58px;
				height: 58px;
				margin-left: 15px;
				margin-right: 25px;
			}
		}
		&_lineTwo {
			display: flex;
			justify-content: center;
		}
		&_lineTwo {
			color: #FFF;
			text-align: center;
			font-family: 'TTOctosquares';
			font-size: 64px;
			font-style: normal;
			font-weight: 400;
			line-height: 100%;
			letter-spacing: 13.44px;
		}
	}
/* 	&_sidePanel {
		position: absolute;
		top: 300px;
	} */
	&_faq {
		margin-top: 92px;
	}
}