.factionPage {
	display: block;
	height: 100vh;
	background: url('../../../resources/factionPage/bg.png') center center/cover no-repeat;
	position: relative;
	&_title {
		padding-top: 390px;
		padding-left: 390px;
		color: #FFF;
		font-family: 'TTOctosquares';
		font-size: 90px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 29.2px;
		position: absolute;
	}
}