.mobileMenu {
/* 	display: none; */
	
	a {
		text-decoration: none;
		color: inherit;
	}
	&_mobile {
		display: none;
		position: absolute;
		top: 35px;
		right: 20px;
		z-index: 10;

	}

}

@media (max-width: 576px) {
	.mobileMenu {
		
		&_mobile {
			display: block;
			/* cursor: pointer; */
		}
	}

}