.roadPage {
	display: block;
	height: auto;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	&_logo {
		height: 28px;
		width: 160px;
		margin-left: 160px;
		padding-top: 138px;
		&_text {
			font-family: 'Mazzard';
			font-size: 15px;
			font-style: normal;
			font-weight: 700;
			line-height: 140%;

			opacity: 0.949999988079071;
			background: var(--gradient, linear-gradient(90deg, #FFB800 0%, #FFBAC3 70.62%));
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			text-align: right;
		}
	}
	&_text {
		display: flex;
		width: 550px;
		margin-top: 17px;
		margin-left: 151px;
		&_textLeft, &_textRight {
			color: #FFF;
			font-family: 'TTOctosquares';
			font-size: 64px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: 23.36px;
		}
		img {
			height: 39px;
			margin-top: 19px;
		}
	}
/* 	&_sidePanel {
	position: absolute;
	top: 300px;
	} */
}